<app-notification #notification></app-notification>

<form>
  <img src="assets/cliente.png">
  <h3 *ngIf="tituloCadastro">Cadastro de Cliente</h3>
  <h3 *ngIf="tituloEdicao">Edição de Cliente</h3>
  <input type="text" placeholder="Nome" class="form-control" name="servico" [(ngModel)]="cliente.name">
  <input type="text" placeholder="Email" class="form-control" name="descricao" [(ngModel)]="cliente.email">


  <input type="button" value="Cadastrar" data-toggle="tooltip" (click)="registrarCliente()" data-placement="bottom"
    title="Cadastre um cliente" class="btn btn-primary" *ngIf="btnCadastro">
  <input type="button" value="Salvar" *ngIf="!btnCadastro" class="btn btn-success" (click)="editarCliente()">
  <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary" (click)="cancelarEdicao()">
  <input type="button" value="Voltar" *ngIf="btnVoltar" (click)="voltar()" class="btn btn-secondary">

</form>

<table class="table" *ngIf="tabelaClientes">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clientes; index as i">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.email }}</td>
      <td>
        <div class="table-buttons">
          <img src="assets/edit-icon.svg" alt="Editar" class="btn-icon" (click)="selecionarCliente(i)">
          <img src="assets/delete-icon.svg" alt="Apagar" class="btn-icon" (click)="removerCliente(i)">
        </div>
      </td>
    </tr>
  </tbody>
</table>