
<form>
  <nav>
    <h2>Gestor de Briefings</h2>
  </nav>
  <img src="assets/briefingIcon.png">

  <div class="form-group">
    <label for="clienteSelect" *ngIf="tituloCadastro"><h3>Cadastro de Briefing</h3></label>
    <label for="clienteSelect" *ngIf="tituloEdicao"><h3>Edição de Briefing</h3></label>
    <select class="form-control" id="clienteSelect" [(ngModel)]="briefing.cliente" name="cliente">
      <option disabled [ngValue]="null" selected>Selecione um Cliente</option>
      <!-- Mostrar apenas o cliente selecionado -->
      <option *ngIf="briefing.cliente" [ngValue]="briefing.cliente">{{ briefing.cliente.name }}</option>
      <!-- Usar método para obter clientes filtrados -->
      <option *ngFor="let c of getClientesFiltrados()" [ngValue]="c">{{ c.name }}</option>
    </select>
  </div>

  <input type="text" placeholder="Serviço" class="form-control" name="servico" [(ngModel)]="briefing.task">
  <input type="text" placeholder="Descrição" class="form-control" name="descricao" [(ngModel)]="briefing.description">


  <input type="button" value="Cadastrar" *ngIf="btnCadastro"   class="btn btn-primary" (click)="registrarBriefing()" data-toggle="tooltip" data-placement="bottom" title="Cadastre uma briefing">
  <input type="button" value="Salvar"   *ngIf="!btnCadastro"  class="btn btn-success" (click)="editarBriefing()">
  <input type="button" value="Cancelar"  *ngIf="!btnCadastro"  class="btn btn-secondary" (click)="cancelar()">
</form>

<table class="table" *ngIf="tabela">
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of briefings; index as i">
      <td>{{ b.id }}</td>
      <td>{{ b.clienteName }}</td>
      <td>{{ b.task }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.date }}</td>
      <td>{{ b.status }}</td>
      <td>
        <button class="btn btn-warning" (click)="selecionarBriefing(i)">Editar</button>
        <button class="btn btn-danger" (click)="removerBriefing(i)" >Apagar</button>
        <button class="btn btn-info" (click)="mudarEstadoBriefing(i)">Estado</button>
      </td>
    </tr>
  </tbody>
</table>
