<app-notification #notification></app-notification>

<div class="title-group" [class.no-margin]="!formsButtons">
  <nav class="titulo" *ngIf="formsButtons">
    <h2>Gestor de Briefings</h2>
  </nav>

  <div class="formsButtons" *ngIf="formsButtons">
    <button class="btn btn-primary" (click)="exibeFormClientes()">Cadastrar Cliente</button>
    <button class="btn btn-primary" (click)="exibeFormBriefings()">Cadastrar Briefing</button>
  </div>
</div>

<div *ngIf="formClientes" @fade>
  <app-client-form></app-client-form>
</div>

<form *ngIf="formBriefings" @fade>
  <img src="assets/briefingIcon.png">

  <div class="form-group">
    <label for="clienteSelect" *ngIf="tituloCadastro">
      <h3>Cadastro de Briefing</h3>
    </label>
    <label for="clienteSelect" *ngIf="tituloEdicao">
      <h3>Edição de Briefing</h3>
    </label>
    <select class="form-control form-control" id="clienteSelect" [(ngModel)]="briefing.cliente" name="cliente">
      <option disabled [ngValue]="null" selected>Selecione um Cliente</option>
      <option *ngIf="briefing.cliente" [ngValue]="briefing.cliente">{{ briefing.cliente.name }}</option>
      <option *ngFor="let c of getClientesFiltrados()" [ngValue]="c">{{ c.name }}</option>
    </select>
  </div>

  <input type="text" placeholder="Serviço" class="form-control" name="servico" [(ngModel)]="briefing.task">
  <input type="text" placeholder="Descrição" class="form-control" name="descricao" [(ngModel)]="briefing.description">

  <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="registrarBriefing()"
    data-toggle="tooltip" data-placement="bottom" title="Cadastre uma briefing">
  <input type="button" value="Salvar" *ngIf="!btnCadastro" class="btn btn-success" (click)="editarBriefing()">
  <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary" (click)="cancelarEdicao()">
  <input type="button" value="Voltar" *ngIf="btnVoltar" class="btn btn-secondary" (click)="voltar()">
</form>



<table class="table" *ngIf="tabelaBriefings">
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of briefings; index as i">
      <td>{{ b.id }}</td>
      <td>{{ b.clienteName }}</td>
      <td>{{ b.task }}</td>
      <td>{{ b.description }}</td>
      <td>{{ b.date }}</td>
      <td>{{ b.status }}</td>
      <td>
        <div class="table-buttons">
          <img src="assets/edit-icon.svg" alt="Editar" class="btn-icon" (click)="selecionarBriefing(i)" title="Editar">
          <img src="assets/delete-icon.svg" alt="Apagar" class="btn-icon" (click)="removerBriefing(i)" title="Apagar">
          <img src="assets/refresh-icon.svg" alt="Estado" class="btn-icon" (click)="mudarEstadoBriefing(i)"
            title="Estado">
        </div>
      </td>
    </tr>
  </tbody>
</table>